:80 {
	root * /srv
	file_server
	encode gzip zstd

	# cache statics 7 days
	@static {
		path /images/* *.css *.js *.svg *.png *.jpg *.jpeg *.webp *.ico
	}
	header @static Cache-Control "public, max-age=604800, immutable"

	# basic security headers
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}
